%h2
  %em.fa.fa-users
  = title t '.title'

= render 'search'
= render 'types'

%table.list.autopagerize_page_element
  %thead
    %th
    %th.name= sort_link @search, :name
    %th.city= sort_link @search, :city
    %th.department= sort_link @search, :department
    %th.region= sort_link @search,
      :region_name, Orga.human_attribute_name(:region)
    %th.updated_at= sort_link @search,
      :updated_at
  %tbody
    - @orgas.each do |orga|
      %tr{ class: orga.active ? 'active' : 'inactive' }
        %td.kind
          - if orga.kind
            %em.fa{ class: "fa-#{orga.kind.icon}",
              title: Kind.human_attribute_name("name_#{orga.kind.name}") }
        %td.name
          = orga.name
          = render partial: '/orgas/favicon', locals: { orga: orga }
        %td.city= orga.city
        %td.department= orga.department
        %td.region= orga.region
        %td.updated_at
          - if orga.updated_at.present?
            = l orga.updated_at.to_date
        %td.tags{ title: orga.tag_list }
          - if orga.tags.count > 1
            %em.fa.fa-tags
          - elsif orga.tags.count.positive?
            %em.fa.fa-tag
        %td.url{ title: Orga.human_attribute_name(:url) }
          - if orga.url.present?
            = link_to orga.url do
              %em.fa.fa-external-link-alt
        %td.diaspora{ title: Orga.human_attribute_name(:diaspora) + '*' }
          - if orga.diaspora.present?
            = link_to orga.diaspora do
              %em.fa
        %td.feed{ title: Orga.human_attribute_name(:feed) }
          - if orga.feed.present?
            = link_to orga.feed do
              %em.fa.fa-rss
        %td.view{ title: t('.view') }
          = link_to orga_path orga, q: params[:q].permit, page: params[:page] do
            %em.fa.fa-eye
        %td.edit{ title: t('.edit') }
          - if orga.secret.nil? || user_signed_in?
            = link_to edit_orga_path orga do
              %em.fa.fa-edit

  %tfoot
    %tr
      %th(colspan='12')= paginate @orgas
