==============================================================================
!= display_attr @orga, :kind, t("activerecord.attributes.kind.name_#{@orga.kind.name}")
!= display_attr @orga, :name
!= display_attr @orga, :place_name
!= display_attr @orga, :address
!= display_attr @orga, :city
!= display_attr @orga, :department
!= display_attr @orga, :region, t(@orga.region.code.present? ? @orga.region.code : @orga.region.name, scope: :countries, default: @orga.region.name)
!= display_attr @orga, :url
!= display_attr @orga, :diaspora
!= display_attr @orga, :feed
!= display_attr @orga, :contact
!= display_attr @orga, :submitter
!= display_attr @orga, :tags, @orga.tag_list
!= display_attr @orga, :active, t(@orga.active.to_s)
\
!= to_markdown @orga.description, 78
==============================================================================
