- if action_name == 'index' && controller_name != 'tags'
  .digest
    - if params[:tag].present?
      = render partial: '/tags/context', locals: { tags: params[:tag] }

    - if params[:near].present? && params[:near][:location].present?
      %span.near
        %em.fa.fa-map-pin
        = params[:near][:location]
        - if params[:near][:distance].present?
          %em.fa.fa-arrows-alt-h
          = params[:near][:distance]
          km
        %a(href="?near=")
          %em.fa.fa-times

    - if params[:tag].blank? && (params[:near].blank? || params[:near][:location].blank?)
      = link_to page_path('filter'), class: 'filter' do
        = t 'title', scope: 'pages.filter'

    = link_to page_path('filter'), title: t('title', scope: 'pages.filter') do
      %em.fa.fa-angle-double-right
