*
  height: auto
  padding: 0
  max-width: 100%
  box-sizing: border-box
  margin-left: auto
  margin-right: auto

html
  height: 100%
  background-color: #9CC5EE
  // Integrating adl in another website
  &.iframe
    background-color: transparent
    body
      border: none
      margin: 0
      padding: 0
      background-color: transparent
      & > header, & > footer,
      h2, nav, .orga_search, #banner
        display: none

body
  border: 1px solid #68A6E5
  margin: 0.2%
  padding: 1%
  font-size: calc(6px + 0.8vw)
  min-height: 99.1%
  text-align: center
  font-family: sans-serif
  background-color: white
  header, main, footer
    *
      transition-duration: 0.5s

img:-moz-broken
  opacity: 0

a
  &:link, &:visited
    color: #258
    text-decoration: none
  &:hover, &:active, &:focus
    color: #2E97FF

#flash-messages .flash
  color: white
  border: solid 1px #007ba0
  margin: 1em auto
  padding: 0.5em 1.1em
  max-width: 50em
  font-size: larger
  text-align: justify
  box-shadow: 0 0 0.3em gray
  border-radius: 3px
  background-color: #008cba
  &.notice
    border-color: #3a945b
    background-color: #43ac6a
  &.alert
    border-color: #de2b0f
    background-color: #f04124

h3.warning
  color: white
  margin: 0
  padding: 1em
  display: inline-block
  text-align: center
  box-shadow: 0 0 0.3em gray
  border-radius: 1em
  background-color: orange

header.top
  position: relative
  text-align: left
  img.logo
    float: left
    max-width: 12vw
    margin-right: 1%
  h1
    margin: 0
    padding: 0
  h2
    font:
      size: inherit
      style: italic
      weight: normal
    margin-top: 0.2em

  ul.regions
    top: -3.3em
    right: 0
    position: absolute
    font-size: smaller
  &:hover ul.regions
    top: -0.8em

main, body.mce-content-body
  clear: both
  position: relative
  h3
    text-align: left
  ul, ol
    text-align: left
    padding-left: 1em
    list-style-position: inside
  p
    text-align: left
    &.label
      text-align: center
    span.label:after
      content: ':'
  hr
    margin: 10px 20px

aside
  float: right
  border: 1px solid #96CFFF
  margin: 0 1.2em
  z-index: 10
  padding: 5px
  position: relative
  max-width: 20em
  box-shadow: 4px 4px 1em gray
  margin-right: -4em
  border-radius: 1em
  background-color: #D6ECFF
  h2
    border-bottom: 1px black solid
    padding-bottom: 0.3em
  ul a
    padding: 0.5em 1em 0.5em 0
    display: block

main
  width: 60em
body.index main
  width: initial

fieldset
  border: none
  margin: 1em auto
  padding: 2%
  box-shadow: 1px 1px 5px gray
  border-radius: 0.4em
  legend
    color: #666
    padding: 0 1em
    font-size: larger
    background-color: white
  h2
    margin-top: 0

footer.bottom nav
  clear: both
  a
    padding: 1.8%
    display: inline-block
    font-weight: bolder
    &:hover
      text-shadow: 0 0 1em lightgray

#loading
  top: 45%
  left: 45%
  color: gray
  display: none
  position: fixed
  font-size: 10vw
  text-shadow: 0 0 4px gray
  vertical-align: baseline

.pagination
  span
    display: none
  span.next
    display: block
