img.favicon
  max-height: 2em
  border-radius: 3px
  vertical-align: middle

form#orga_search
  font-size: larger
  label
    display: none
  em.fa
    color: #258
  input
    width: 14em
    border: solid thin #258
    padding: 0
    margin-left: -1.7em
    margin-right: -1.3em
    padding-left: 1.5em
    padding-right: 1.2em
    border-radius: 0.4em
  button.search
    color: #258
    border: none
    padding: 0
    font-size: large
    box-shadow: none
    margin-top: -0.1em
    margin-left: 0
    vertical-align: middle
    background-color: transparent
    &:hover em.fa
      color: #2E97FF
    span.label
      display: none

table tr.inactive
  color: gray
