header.top ul.regions
  margin: 0
  list-style: none
  & > li
    display: inline-block
  li
    margin: 0
    box-shadow: 0 0 1em white
    background-color: white
    &.selected
      box-shadow: 0 0 0 6px lightgray
    a
      padding: 0.3em
      display: block
      white-space: nowrap
    &:hover ul
      box-shadow: 0 4px 4px gray
  li.selected
    display: inline-block
  & li:hover li, li li.selected
    display: block
  ul
    z-index: 1500
    position: absolute
    text-align: left
    li
      display: none
      border-top: solid thin #eee

.field.region
  .radios
    z-index: 100
    flex-grow: 0
    text-align: left
    background-color: white
    .radios
      display: inline
      min-width: 12em
    label
      display: none
      min-width: 100%
  &:hover > .radios, label:hover + .radios, .radios:hover
    z-index: 1000
    position: absolute
    box-shadow: 0 0 0.1em black
    & > .region > label, & > label
      display: inline-block
    .radios
      position: absolute
  &:hover > .radios, & > label:hover + .radios, & > .radios:hover
    margin-left: 10em
    transition-duration: unset
  input:checked + label
    display: inline-block

// Override for the missing quebec flag!
.flag-icon-ca-qc
  background-image: image-url(regions/CA-QC)

body.stats h3
  text-align: center

table.list.dates
  th, td
    padding: 0 0.6em

  .sparkline
    padding: 0
